media/wsdlOntoloji.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.examples.com/wsdl/webservice/newsfeed"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.examples.com/wsdl/webservice/newsfeed">
    
    <wsdl:types>
        <xs:schema targetNamespace="http://www.examples.com/wsdl/webservice/newsfeed">
            <xs:element name="GetKapasiteTalepFormuInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="belge_no" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="KapasiteTalepFormu">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="belge_no" type="xs:int"></xs:element>
                        <xs:element name="gayri_maddi_hak" type="xs:string"></xs:element>
                        <xs:element name="personel_durumu" type="xs:string"></xs:element>
                        <xs:element name="sermaye_kıymetler_durumu" type="xs:string"></xs:element>
                        <xs:element name="yabancı_sermaye" type="xs:string"></xs:element>
                        <xs:element name="üretim_konusu" type="xs:string"></xs:element>
                        <xs:element name="üretim_tesisin_durumu" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="GetKapasiteTalepFormuOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:KapasiteTalepFormu"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="Header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="GetKapasiteTalepFormuInput">
        <wsdl:part name="Header" element="ws:Header"></wsdl:part>
        <wsdl:part name="GetKapasiteTalepFormu" element="ws:GetKapasiteTalepFormuInput"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="GetKapasiteTalepFormuOutput">
        <wsdl:part name="Body" element="ws:GetKapasiteTalepFormuOutput"></wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="NewsFeedSOAP">
        <wsdl:operation name="GetKapasiteTalepFormu">
            <wsdl:input message="ws:GetKapasiteTalepFormuInput"></wsdl:input>
            <wsdl:output message="ws:GetKapasiteTalepFormuOutput"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="NewsFeedSOAP" type="ws:NewsFeedSOAP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http/" style="document"/>
        
        <wsdl:operation name="GetKapasiteTalepFormu">
            <soap:operation
                soapAction="http://www.examples.com/wsdl/webservice/GetKapasiteTalepFormu"
                style="document"/>
            <wsdl:input>
                <soap:body parts="GetKapasiteTalepFormu" use="literal"/>
                <soap:header message="ws:GetKapasiteTalepFormuInput" part="Header" use="literal"></soap:header>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="NewsFeedService">
        <wsdl:documentation>Provides news stories from multiple international sources.
        </wsdl:documentation>
        <wsdl:port name="NewsFeedServiceSOAP" binding="ws:NewsFeedSOAP">
            <soap:address location="http://www.examples.com/wsdl/webservice/newsfeed.asmx"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>